In [4]:
state_capitals = {"Ic_anadolu" : "Ankara", 
                  "Karadeniz" : "Trabzon", 
                  "Dogu_anadolu" : "Diyarbakir",
                  "Guney_Dogu_anadolu" : "Gaziantep",
                  "Akdeniz" : "Antalya",
                  "Marmara" : "Istanbul",
                  "Ege" : "Izmir"}
                  # how to access into the dictionary
                  # colons and commas are very important in dictionaries don't forget it!
print("Karadenizes' capital:", state_capitals['Karadeniz'])
print("Akdenizes' capital:", state_capitals['Akdeniz'])

Karadenizes' capital: Trabzon
Akdenizes' capital: Antalya

In [6]:
# how can i add a new item into the dictionary?
state_capitals['Ic_Bati_Ege'] = 'Usak'
print(state_capitals)

{'Ic_anadolu': 'Ankara', 'Karadeniz': 'Trabzon', 'Dogu_anadolu': 'Diyarbakir', 'Guney_Dogu_anadolu': 'Gaziantep', 'Akdeniz': 'Antalya', 'Marmara': 'Istanbul', 'Ege': 'Izmir', 'Ic_Bati_Ege': 'Usak'}

In [ ]:
# in dict.: KEY : VALUE this is the structure of dictionary
mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}

In [13]:
"""we can create a dictionary with dict() function, in this method we dont use quotes for variables"""
eng_dict = dict(variable = "place where a value can be stored", \
    string = "set of characters represented in quotation", gap = "blank, space", \
        assess = 'eveluate, analyse')
print(eng_dict)

{'variable': 'place where a value can be stored', 'string': 'set of characters represented in quotation', 'gap': 'blank, space', 'assess': 'eveluate, analyse'}

In [14]:
eng_dict['gap']
eng_dict['exclusively'] = "only"
print(eng_dict)

{'variable': 'place where a value can be stored', 'string': 'set of characters represented in quotation', 'gap': 'blank, space', 'assess': 'eveluate, analyse', 'exclusively': 'only'}

In [19]:
print(eng_dict.items(), '\n')
print(eng_dict.keys(), '\n')
print(eng_dict.values())

dict_items([('variable', 'place where a value can be stored'), ('string', 'set of characters represented in quotation'), ('gap', 'blank, space'), ('assess', 'eveluate, analyse'), ('exclusively', 'only')])

dict_keys(['variable', 'string', 'gap', 'assess', 'exclusively'])

dict_values(['place where a value can be stored', 'set of characters represented in quotation', 'blank, space', 'eveluate, analyse', 'only'])

In [21]:
eng_dict.update({'likewise' : 'also, in addition, furhermore'})
eng_dict.update({"incremental" : "additional"})
eng_dict.update({"entire" : "total, complete, whole"})
print(eng_dict.keys())

dict_keys(['variable', 'string', 'gap', 'assess', 'exclusively', 'likewise', 'incremental', 'entire'])

In [27]:
print("string" in eng_dict)
print("assess" in eng_dict)
print("word" in eng_dict)  # this word is not in the eng_dict.
del eng_dict['variable']
print("variable" not in eng_dict)

True
True
False

KeyError: 'variable'

In [28]:
print(eng_dict)

{'string': 'set of characters represented in quotation', 'gap': 'blank, space', 'assess': 'eveluate, analyse', 'exclusively': 'only', 'likewise': 'also, in addition, furhermore', 'incremental': 'additional', 'entire': 'total, complete, whole'}

In [30]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
print(student_ages['Clark'])

32

In [44]:
# nested dictionaries
school_records={
    "personal_info":
        {"kid":{"tom": {"class": "intermediate", "age": 10},
                "sue": {"class": "elementary", "age": 8}
               },
         "teen":{"joseph":{"class": "college", "age": 19},
                 "marry":{"class": "high school", "age": 16}
               },               
        },
        
    "grades_info":
        {"kid":{"tom": {"math": 88, "speech": 69},
                "sue": {"math": 90, "speech": 81}
               },
         "teen":{"joseph":{"coding": 80, "math": 89},
                 "marry":{"coding": 70, "math": 96}
               },               
        },        
}
print(school_records["personal_info"]['kid']['tom'],"\n"\  
, school_records["grades_info"]["kid"]["tom"])  # tom un bilgilerini sözlükten çektik.

{'class': 'intermediate', 'age': 10}
 {'math': 88, 'speech': 69}

In [46]:
print(school_records["grades_info"]["teen"]["joseph"]["coding"])  # joseph in kodlama notunu getirdi

80

In [48]:
customers = { 
'bank': 
{1: {'name': 'James', 'age': '27', 'sex': 'Male'}, 
 2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},  
 3: {'name': 'Andy', 'age': '38', 'sex': 'Male'}, 
 4: {'name': 'Alex', 'age': '19', 'sex': 'Male'}, 
 5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
},
'insurance':
{1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'}, 
 2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},  
 3: {'name': 'Adam', 'age': '56', 'sex': 'Male'}, 
 4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'}, 
 5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
},
}
print("Alexs'gender:", customers["bank"][4]["sex"])

Alexs'gender: Male

In [24]:
first_dict = {1 : "one", "two" : 2, 1 : [1, 2, 3], 1.5 : ("one", "two")}
print(first_dict)

{1: [1, 2, 3], 'two': 2, 1.5: ('one', 'two')}

In [9]:
first_dictionary = dict("one" = 1, "two" = 2)  # "one" variable olursa kabul eder.

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3391452476.py, line 1)

In [14]:
first_dictionary = dict(one = 1, two = 2)
first_dictionary

{'one': 1, 'two': 2}

In [11]:
first_dictionary = {one = 1, "two" = 2}

SyntaxError: invalid syntax (3535671026.py, line 1)

In [18]:
family = dict(name1 = "Ahmet", name2 = "Rahime", name3 = "Firdevs")
family["name4"] = "Sadullah"  # bu metot çok kullanışlıdır.
family

{'name1': 'Ahmet', 'name2': 'Rahime', 'name3': 'Firdevs', 'name4': 'Sadullah'}

In [21]:
pabuc_sayısı = {"ali" : 1, "veli" : 1}
pabuc_sayısı["ali"] += 1
pabuc_sayısı

{'ali': 2, 'veli': 1}

In [23]:
city = ["Adana", "Bursa", "Denizli"]
city[1:] = "Antep"
print(city)  # ÖNEMLİ!!!

['Adana', 'A', 'n', 't', 'e', 'p']

In [25]:
first_dict = {1 : "one", "two" : 2, 1 : [1, 2, 3], 1.5 : ("one", "two")}

In [26]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [1]:
dict_by_dict = {'animal':'dog',
			'planet': 'Neptun',
			'number': 40,
			'pi':3.14,
			'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values(), '\n')

dict_items([('animal', 'dog'), ('planet', 'Neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'Neptun', 40, 3.14, True])

In [2]:
items = list(dict_by_dict.items())

In [4]:
x, y = items[0]
print(x, y)

animal dog

In [5]:
set(dict_by_dict.values())

{3.14, 40, 'Neptun', True, 'dog'}

In [6]:
family = dict(name1 = "Ahmet", name2 = "Rahime", name3 = "Firdevs")
family["name4"] = "Sadullah"  # bu metot çok kullanışlıdır.
family

{'name1': 'Ahmet', 'name2': 'Rahime', 'name3': 'Firdevs', 'name4': 'Sadullah'}

In [9]:
list(family.keys())

['name1', 'name2', 'name3', 'name4']

In [10]:
list(family.values())

['Ahmet', 'Rahime', 'Firdevs', 'Sadullah']

In [11]:
family["name4"]

'Sadullah'

In [12]:
family.update({"name5" : "Maşite"})
family

{'name1': 'Ahmet',
 'name2': 'Rahime',
 'name3': 'Firdevs',
 'name4': 'Sadullah',
 'name5': 'Maşite'}

In [14]:
family["name1"] = "Osman"
family

{'name1': 'Osman',
 'name2': 'Rahime',
 'name3': 'Firdevs',
 'name4': 'Sadullah',
 'name5': 'Maşite'}

In [18]:
print(family)

{'name2': 'Rahime', 'name3': 'Firdevs', 'name4': 'Sadullah', 'name5': 'Maşite'}

In [23]:
family

{'name2': 'Rahime', 'name3': 'Firdevs', 'name4': 'Sadullah', 'name5': 'Maşite'}

In [26]:
"a" in "clarusway"

True

In [27]:
"i" in "clarusway"

False

In [29]:
bootcamp = "c l a r u s w a y"
bootcamp.split()  # her boşluğu bölüp listeye atar.

['c', 'l', 'a', 'r', 'u', 's', 'w', 'a', 'y']

In [30]:
"ali-veli-deli".split("-")  # - den böl liste yap.

['ali', 'veli', 'deli']

In [31]:
dict_by_dict = {'animal':'dog',
			'planet': 'Neptun',
			'number': 40,
			'pi':3.14,
			'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values(), '\n')

dict_items([('animal', 'dog'), ('planet', 'Neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'Neptun', 40, 3.14, True])

In [32]:
"dog" in dict_by_dict

False

In [33]:
"planet" in dict_by_dict

True

In [34]:
"dog" in dict_by_dict.values()  # value leri böyle arattırabiliyoruz.

True

In [35]:
"dog" not in dict_by_dict

True

In [38]:
temp_dict = {'k1':'v1', 'k2':'v2', 'k3':'v3'}
temp_dict['k4']= temp_dict.pop('k2')  # dict. key değeri böyle silerek değiştirilir.
temp_dict

{'k1': 'v1', 'k3': 'v3', 'k4': 'v2'}

In [40]:
school_records={
	'personal_info':
		{'kid':{'tom':{'class':'intermediate', 'age':10},
			'sue':{'class':'elemantary', 'age':8}
			},
		'teen':{'joseph':{'class':'college', 'age':19},
			'marry':{'class':'high school', 'age':16}
			},
		},
	'grades_info':
		{'kid':{'tom':{'math':88, 'speech':69},
			'sue':{'math':90, 'speech':81}
			},
		'teen':{'joseph':{'coding':80, 'math':89},
			'marry':{'coding':70, 'math':96}
			},
		}
}

In [41]:
len(school_records)

2

In [49]:
school_records["personal_info"]["kid"]["sue"]["age"]

8

In [43]:
type(school_records)

dict