## List Comprehensions

````python

for item in iterable :
    expression

[expression for item in iterable]

In [5]:
sayilar = []

for i in range(5) :

    sayilar.append(i)

print(sayilar)

[0, 1, 2, 3, 4]

In [13]:
[i**i for i in range(11)]  # .append yerine alternatif olarak kullanilabiliyor

[1, 1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

## Ternary if statements

In [25]:
my_list = [1,2,3,4,5,6]

In [26]:
new_list = []  # Tek olan elemanlarin karesini bu listenin icinde topla

In [23]:
for i in my_list:
    if i % 2:  # bolunurse 0 verir falsy olur bolunmezse 1 olur truty cikar
        new_list.append(i)
    # if not i % 2 ==0:
    #     new_list.append(i)

In [24]:
new_list

[1, 3, 5]

# <h3> Ternary Yapilarin Formulasyonu : 

````python

if condition : 
    execute-body1
else :
    execute-body2

execute-body1 if condition else execute-body2
````

In [31]:
condition = False

In [32]:
if condition :
    a = 1

else :
    a = 0
    
print(a)

0

In [33]:
1 if condition else 0

0

In [35]:
[i ** 2 for i in my_list]

[1, 4, 9, 16, 25, 36]

In [38]:
tekler = [i ** 2 for i in my_list if i % 2]

In [39]:
ciftler = [i ** 2 for i in my_list if not i % 2]

In [40]:
ciftler, tekler

([4, 16, 36], [1, 9, 25])

In [41]:
(i ** 2 for i in range(6))

In [54]:
a = (i ** 2 for i in range(6))  # Generator

In [43]:
list(a)

[0, 1, 4, 9, 16, 25]

In [46]:
print(* a)

0 1 4 9 16 25

In [48]:
for i in a:
    print(i)

0
1
4
9
16
25

In [50]:
# iterate'ten tek tek item aliyor next()

In [60]:
print(next(a))

25

In [ ]:
print(next(a))

In [62]:
harfler = (i * 2 for i in "clarusway")
for i in harfler:
    print(i)

cc
ll
aa
rr
uu
ss
ww
aa
yy